@model List<AlaskaExpress.Models.Bus>

@{
    ViewBag.Title = "BusList";
}

<form action="/Seller/AddSchedule" method="post">
    <div class="row mx-5">

        <div class="col-xs-10 col-sm-10 col-md-3 col-lg-3 my-5">
            <div class="py-3">
                <label for="inputBusIdForAddSchedule" class="form-label">Bus ID</label>
                <input type="number" class="form-control" name="inputBusIdForAddSchedule" id="inputBusIdForAddSchedule" required minlength="0">
            </div>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-3 col-lg-3 my-5">
            <div class="py-3">
                <label for="inputTimeForAddSchedule" class="form-label">Journey time</label>
                <input type="text" class="form-control" name="inputTimeForAddSchedule" id="inputTimeForAddSchedule" required minlength="0">
            </div>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-3 col-lg-3 my-5">
            <div class="py-3">
                <label for="inputDateForAddSchedule" class="form-label">New schedule date</label>
                <input type="date" class="form-control" name="inputDateForAddSchedule" id="inputDateForAddSchedule">
            </div>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-3 col-lg-3 my-5">
            <div class="py-3">
                <button type="submit" class="btn btn-primary" name="buttonForAddSchedule">Add Schedule</button>
            </div>
        </div>

    </div>
</form>
<hr />
<div class="row mx-5">
    <h2>Bus List</h2>

    <br />
    <br />
    <br />

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Bus ID</th>
                <th>Start Location</th>
                <th>End Location</th>
                <th>Cost Per Seat</th>
                <th>Total Seat</th>
                <th>Coach</th>
                <th>Numberplate</th>
                <th>Addedby</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Bus_id</td>
                    <td>@item.Bus_start_location</td>
                    <td>@item.Bus_end_location</td>
                    <td>@item.Bus_cost_per_seat</td>
                    <td>@item.Bus_total_seat</td>
                    <td>@item.Bus_coach</td>
                    <td>@item.Bus_numberplate</td>
                    <td>@item.Bus_addedby</td>
                </tr>
            }
        </tbody>
    </table>


    <div class="form-actions no-color">
        @Html.ActionLink("Back to Home", "")
    </div>

    <br />
    <br />
    <br />
</div>


@Scripts.Render("~/bundles/jquery")
<script>


    //disable old dates
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#inputDateForAddSchedule').attr('min', today);

</script>