@model IEnumerable<AlaskaExpress.Models.Ticket>

@{
    ViewBag.Title = "MyTickets";
}
<div class="row mx-5">
    <h2>My Tickets</h2>
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus_seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TXN_id)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket_id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Schedule_id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Bus_seats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TXN_id)
                </td>
                <td>
                    @{
                        ViewBag.ts = item.Ticket_state;
                        ViewBag.ticketId = item.Ticket_id;

                        if (ViewBag.ts == 0)
                        {
                            <button class="btn btn-primary">Pending</button>
                        }
                        else if (ViewBag.ts == 1)
                        {
                            @Html.ActionLink("Ticket Download", "TicketDownload", new { ticketId = item.Ticket_id })

                            Html.BeginForm("TicketDownload", "Customer", FormMethod.Get);
                            {
                                //<button class="btn btn-success" type="submit">Ticket Download</button>
                            }
                            Html.EndForm();
                        }
                    }
                </td>
            </tr>
        }

    </table>


    <div class="form-actions no-color">
        @Html.ActionLink("Back to Home", "")
    </div>

    <br />
    <br />
    <br />
</div>


